<footer class="text-center mt-5" style="width: 100% !important; background-color: #6A5ACD !important;">
    <i class="fa-brands fa-instagram" style="font-size: 15px; color: white;"></i>  <p style="display: inline; color: white; font-size: 15px"> Connect With Us On</p> 
       <b><a href="" style="color: white; font-size: 15px">Instagram</a></b>
  
       <div style="display: block;"> <i class="fa-brands fa-square-x-twitter" style="font-size: 15px; color: white;"></i> 
         <p style="display: inline; color: white; font-size: 15px"> Connect With Us On</p>   
       <a href="" style="color: white;">X</a></b></div>
  
       <div style="display: block;"> <i class="fa-regular fa-envelope" style="color: white;"></i>
         <a href="/contact-us" style="color: white;"> Email Us</a>   
         </div>
       <div class="mt-2">
         <p style="color: white; font-size: 15px">A Malik Tornes Production&copy;</p>
         </div>
     </footer>