<div class="input-group mb-3 mt-3" >
    <span class="input-group-text" id="search-button" ><i class="fa fa-search" aria-hidden="true"></i></span>
    <div class="form-floating">
      <input type="text" class="form-control search-input" id="floatingInputGroup1" placeholder="Search Men Shoes"/>
      <label htmlFor="floatingInputGroup1">Search Product</label>
    </div>
  </div>
  <!-- <div class="row products text-center" id="searchResults">yo</div> -->

  